In [1]:
import os
import cv2
import  pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
import keras 
from glob import glob
from keras.models import Sequential
from keras.layers import BatchNormalization,MaxPool2D,Dense,Conv2D,Flatten
from keras.callbacks import EarlyStopping,LearningRateScheduler
from sklearn.svm import SVC

import warnings
from tqdm import tqdm
from PIL import Image
warnings.filterwarnings('ignore')

In [2]:
vehicle_dir = 'data/vehicles/'
non_vehicle_dir = 'data/non-vehicles/'

In [4]:
vehicle_names = os.listdir(vehicle_dir)
non_vehicle_names = os.listdir(non_vehicle_dir)

In [ ]:
# print(vehicle_names[:10], non_vehicle_names[:10])

In [5]:
print("No of vehicle images:", len(vehicle_names))
print("No of non-vehicle images:", len(non_vehicle_names))

No of vehicle images: 8792
No of non-vehicle images: 8968

In [ ]:
# import random
# random.shuffle(vehicle_names)
# random.shuffle(non_vehicle_names)

In [ ]:
# print(vehicle_names[:10], non_vehicle_names[:10])

In [6]:
cat = {
    'non-vehicles': 0,
    'vehicles': 1
}

#get all the paths for vehicles and non-vehicles
def get_paths(folder):
    
    path = []
    labels = []
    for dirname, _, filenames in os.walk(folder):
        dir_class = dirname.split('/')[1] #either vehicles or non-vehicles
        for filename in filenames:
            path.append(os.path.join(dirname, filename))
            labels.append(cat[dir_class])
    
    return pd.DataFrame({'path': path, 'class': labels})

In [7]:
vehicles_df = get_paths(vehicle_dir)
vehicles_df.head()

                     path  class
0     data/vehicles/1.png      1
1    data/vehicles/10.png      1
2  data/vehicles/1000.png      1
3  data/vehicles/1001.png      1
4  data/vehicles/1002.png      1

In [8]:
non_vehicles_df = get_paths(non_vehicle_dir)
non_vehicles_df.head()

                              path  class
0     data/non-vehicles/extra1.png      0
1    data/non-vehicles/extra10.png      0
2   data/non-vehicles/extra100.png      0
3  data/non-vehicles/extra1000.png      0
4  data/non-vehicles/extra1001.png      0

In [9]:
df = pd.concat([vehicles_df, non_vehicles_df])
df.shape

(17760, 2)

In [10]:
df.head()

                     path  class
0     data/vehicles/1.png      1
1    data/vehicles/10.png      1
2  data/vehicles/1000.png      1
3  data/vehicles/1001.png      1
4  data/vehicles/1002.png      1

In [11]:
#shuffle dataset using sample
df = df.sample(frac=1, random_state=1).reset_index(drop=True)
df.head()

                             path  class
0          data/vehicles/3519.png      1
1  data/non-vehicles/image604.png      0
2          data/vehicles/5546.png      1
3  data/non-vehicles/image525.png      0
4     data/vehicles/far (574).png      1

In [12]:
#sample for 200 rows first
sample_df = df.iloc[:200, :]
sample_df

                                path  class
0             data/vehicles/3519.png      1
1     data/non-vehicles/image604.png      0
2             data/vehicles/5546.png      1
3     data/non-vehicles/image525.png      0
4        data/vehicles/far (574).png      1
..                               ...    ...
195           data/vehicles/4806.png      1
196  data/non-vehicles/image2718.png      0
197  data/non-vehicles/image2421.png      0
198     data/vehicles/left (615).png      1
199           data/vehicles/5037.png      1

[200 rows x 2 columns]

In [13]:
sample_df['class'].value_counts()

1    101
0     99
Name: class, dtype: int64

In [14]:
def load_images(paths, img_size):
    images = []
    
    for path in paths:
        img = cv2.imread(path)
        img = cv2.resize(img, img_size) #resize the images
        img = np.array(img)
        
        images.append(img)
    
    images = np.array(images)
    images = images.astype(np.int64)
    
    #scale images
    images = images/255
    return images

In [15]:
images = load_images(sample_df['path'], (64, 64))
print(images.shape)

(200, 64, 64, 3)

In [16]:
images

array([[[[0.29803922, 0.42352941, 0.52156863],
         [0.30588235, 0.4627451 , 0.46666667],
         [0.37647059, 0.5254902 , 0.5372549 ],
         ...,
         [0.58431373, 0.51372549, 0.68627451],
         [0.89803922, 0.76078431, 0.80784314],
         [0.62745098, 0.70196078, 0.70980392]],

        [[0.34901961, 0.51764706, 0.48235294],
         [0.34901961, 0.5372549 , 0.55294118],
         [0.38431373, 0.52941176, 0.5372549 ],
         ...,
         [0.66666667, 0.6745098 , 0.66666667],
         [0.91372549, 0.9254902 , 0.79607843],
         [0.6627451 , 0.76470588, 0.67058824]],

        [[0.40784314, 0.59607843, 0.50588235],
         [0.4       , 0.55686275, 0.63529412],
         [0.4       , 0.54901961, 0.61568627],
         ...,
         [0.68627451, 0.65490196, 0.6745098 ],
         [0.91764706, 0.90196078, 0.8745098 ],
         [0.75686275, 0.78823529, 0.81176471]],

        ...,

        [[0.18039216, 0.16470588, 0.16470588],
         [0.11764706, 0.1372549 , 0.14901961],
         [0.11372549, 0.11764706, 0.12941176],
         ...,
         [0.44705882, 0.30980392, 0.26666667],
         [0.67843137, 0.54117647, 0.38039216],
         [0.80784314, 0.62352941, 0.4627451 ]],

        [[0.49411765, 0.40784314, 0.29411765],
         [0.42745098, 0.39215686, 0.29803922],
         [0.41176471, 0.38039216, 0.30196078],
         ...,
         [0.59607843, 0.50196078, 0.38823529],
         [0.75294118, 0.60784314, 0.44313725],
         [0.78823529, 0.63921569, 0.45098039]],

        [[0.64705882, 0.70588235, 0.76078431],
         [0.61176471, 0.69803922, 0.77254902],
         [0.61960784, 0.70196078, 0.8       ],
         ...,
         [0.80392157, 0.64313725, 0.44705882],
         [0.82352941, 0.65882353, 0.44313725],
         [0.78431373, 0.54901961, 0.41960784]]],


       [[[0.18039216, 0.18823529, 0.13333333],
         [0.18039216, 0.18823529, 0.13333333],
         [0.18039216, 0.18823529, 0.13333333],
         ...,
         [0.17647059, 0.18823529, 0.15686275],
         [0.17647059, 0.18823529, 0.15686275],
         [0.17647059, 0.18823529, 0.15686275]],

        [[0.18039216, 0.18823529, 0.13333333],
         [0.18039216, 0.18823529, 0.13333333],
         [0.18039216, 0.18823529, 0.13333333],
         ...,
         [0.17647059, 0.18823529, 0.15686275],
         [0.17647059, 0.18823529, 0.15686275],
         [0.17647059, 0.18823529, 0.15686275]],

        [[0.18039216, 0.18823529, 0.13333333],
         [0.18039216, 0.18823529, 0.13333333],
         [0.18039216, 0.18823529, 0.13333333],
         ...,
         [0.17647059, 0.18823529, 0.15686275],
         [0.17647059, 0.18823529, 0.15686275],
         [0.17647059, 0.18823529, 0.15686275]],

        ...,

        [[0.27058824, 0.28235294, 0.24705882],
         [0.27058824, 0.28235294, 0.24705882],
         [0.27058824, 0.28235294, 0.24705882],
         ...,
         [0.28627451, 0.29019608, 0.25882353],
         [0.28627451, 0.29019608, 0.25882353],
         [0.28627451, 0.29019608, 0.25882353]],

        [[0.27058824, 0.28235294, 0.24705882],
         [0.27058824, 0.28235294, 0.24705882],
         [0.27058824, 0.28235294, 0.24705882],
         ...,
         [0.28627451, 0.29019608, 0.25882353],
         [0.28627451, 0.29019608, 0.25882353],
         [0.28627451, 0.29019608, 0.25882353]],

        [[0.27058824, 0.28235294, 0.24705882],
         [0.27058824, 0.28235294, 0.24705882],
         [0.27058824, 0.28235294, 0.24705882],
         ...,
         [0.28627451, 0.29019608, 0.25882353],
         [0.28627451, 0.29019608, 0.25882353],
         [0.28627451, 0.29019608, 0.25882353]]],


       [[[0.29803922, 0.40392157, 0.36862745],
         [0.28627451, 0.38431373, 0.34901961],
         [0.25490196, 0.32941176, 0.28235294],
         ...,
         [0.11764706, 0.18431373, 0.21176471],
         [0.1372549 , 0.19607843, 0.23529412],
         [0.14509804, 0.2       , 0.24313725]],

        [[0.30588235, 0.39607843, 0.34509804],
         [0.29411765, 0.38039216, 0.32941176],
         [0.25882353, 0.3254902 , 0.26666667],
         ...,
         [0.11764706, 0.18039216, 0.20784314],
         [0.1372549 , 0.19215686, 0.23137255],
         [0.14117647, 0.19215686, 0.23921569]],

        [[0.33333333, 0.38039216, 0.27058824],
         [0.31764706, 0.36078431, 0.25490196],
         [0.2745098 , 0.30588235, 0.21568627],
         ...,
         [0.1254902 , 0.17254902, 0.2       ],
         [0.12941176, 0.17254902, 0.21960784],
         [0.12941176, 0.17254902, 0.22745098]],

        ...,

        [[0.10196078, 0.07058824, 0.05490196],
         [0.09803922, 0.06666667, 0.05490196],
         [0.0745098 , 0.05490196, 0.04705882],
         ...,
         [0.0745098 , 0.05490196, 0.05882353],
         [0.09411765, 0.0745098 , 0.07843137],
         [0.10196078, 0.08235294, 0.08627451]],

        [[0.10980392, 0.0745098 , 0.05490196],
         [0.10196078, 0.07058824, 0.05490196],
         [0.07843137, 0.05490196, 0.04705882],
         ...,
         [0.08235294, 0.05882353, 0.05490196],
         [0.09803922, 0.08235294, 0.0745098 ],
         [0.10588235, 0.08627451, 0.07843137]],

        [[0.11372549, 0.0745098 , 0.05490196],
         [0.10588235, 0.07058824, 0.05490196],
         [0.08235294, 0.05490196, 0.04705882],
         ...,
         [0.08235294, 0.05882353, 0.05490196],
         [0.09803922, 0.08235294, 0.0745098 ],
         [0.10588235, 0.09019608, 0.07843137]]],


       ...,


       [[[0.64705882, 0.71372549, 0.6745098 ],
         [0.63921569, 0.70588235, 0.67058824],
         [0.62745098, 0.69019608, 0.6627451 ],
         ...,
         [0.34117647, 0.39215686, 0.36470588],
         [0.34117647, 0.39215686, 0.36470588],
         [0.34117647, 0.39215686, 0.36470588]],

        [[0.54117647, 0.61176471, 0.57254902],
         [0.53333333, 0.60392157, 0.56470588],
         [0.52156863, 0.58431373, 0.55686275],
         ...,
         [0.33333333, 0.38823529, 0.36078431],
         [0.3372549 , 0.39215686, 0.36470588],
         [0.3372549 , 0.39215686, 0.36470588]],

        [[0.36470588, 0.43137255, 0.38823529],
         [0.35686275, 0.42352941, 0.38431373],
         [0.3372549 , 0.4       , 0.37254902],
         ...,
         [0.3254902 , 0.38039216, 0.35294118],
         [0.33333333, 0.38823529, 0.36078431],
         [0.33333333, 0.38823529, 0.36078431]],

        ...,

        [[0.29411765, 0.35686275, 0.29803922],
         [0.29411765, 0.35686275, 0.29803922],
         [0.29411765, 0.35294118, 0.30196078],
         ...,
         [0.31764706, 0.36862745, 0.35294118],
         [0.30588235, 0.35686275, 0.34117647],
         [0.30196078, 0.35294118, 0.3372549 ]],

        [[0.2745098 , 0.3372549 , 0.28235294],
         [0.28235294, 0.34509804, 0.29019608],
         [0.30196078, 0.36862745, 0.31372549],
         ...,
         [0.30980392, 0.35686275, 0.34117647],
         [0.30196078, 0.34901961, 0.33333333],
         [0.29803922, 0.34901961, 0.32941176]],

        [[0.26666667, 0.32941176, 0.2745098 ],
         [0.27843137, 0.34117647, 0.28627451],
         [0.30980392, 0.37254902, 0.32156863],
         ...,
         [0.30588235, 0.35294118, 0.3372549 ],
         [0.29803922, 0.34509804, 0.32941176],
         [0.29411765, 0.34509804, 0.3254902 ]]],


       [[[0.27058824, 0.24705882, 0.16470588],
         [0.27058824, 0.23921569, 0.16078431],
         [0.26666667, 0.22745098, 0.15686275],
         ...,
         [0.18823529, 0.21568627, 0.21176471],
         [0.19215686, 0.22745098, 0.21960784],
         [0.21176471, 0.25098039, 0.24313725]],

        [[0.28627451, 0.25882353, 0.18431373],
         [0.28235294, 0.25882353, 0.17647059],
         [0.27843137, 0.25490196, 0.16862745],
         ...,
         [0.17647059, 0.21176471, 0.20392157],
         [0.18823529, 0.22745098, 0.21960784],
         [0.2       , 0.23921569, 0.23137255]],

        [[0.29411765, 0.2627451 , 0.19215686],
         [0.29411765, 0.26666667, 0.18431373],
         [0.29803922, 0.27058824, 0.17647059],
         ...,
         [0.17647059, 0.21568627, 0.20784314],
         [0.18823529, 0.22745098, 0.21960784],
         [0.18823529, 0.22745098, 0.21960784]],

        ...,

        [[0.19215686, 0.20784314, 0.15686275],
         [0.16470588, 0.18039216, 0.13333333],
         [0.12156863, 0.1372549 , 0.09019608],
         ...,
         [0.16862745, 0.15686275, 0.13333333],
         [0.18039216, 0.16862745, 0.13333333],
         [0.17647059, 0.16862745, 0.13333333]],

        [[0.18431373, 0.19607843, 0.14901961],
         [0.16862745, 0.18431373, 0.1372549 ],
         [0.14901961, 0.16470588, 0.12156863],
         ...,
         [0.18431373, 0.16862745, 0.1372549 ],
         [0.18431373, 0.17647059, 0.12941176],
         [0.17647059, 0.17254902, 0.1254902 ]],

        [[0.18431373, 0.19607843, 0.14901961],
         [0.18039216, 0.19607843, 0.14901961],
         [0.17254902, 0.18823529, 0.14901961],
         ...,
         [0.18823529, 0.18039216, 0.14117647],
         [0.19215686, 0.18431373, 0.13333333],
         [0.18823529, 0.18823529, 0.13333333]]],


       [[[0.32156863, 0.56862745, 0.58431373],
         [0.34117647, 0.85490196, 0.7254902 ],
         [0.14509804, 0.3372549 , 0.36470588],
         ...,
         [0.94901961, 0.98823529, 0.81568627],
         [0.95294118, 0.78039216, 0.80784314],
         [1.        , 1.        , 1.        ]],

        [[0.14901961, 0.29411765, 0.25882353],
         [0.18823529, 0.29803922, 0.27058824],
         [0.19215686, 0.39607843, 0.43137255],
         ...,
         [0.58431373, 0.6       , 0.56862745],
         [0.9254902 , 0.81568627, 0.98431373],
         [0.69411765, 0.83137255, 0.84705882]],

        [[0.1372549 , 0.26666667, 0.20784314],
         [0.14901961, 0.24313725, 0.25882353],
         [0.20784314, 0.44705882, 0.58039216],
         ...,
         [0.44313725, 0.43921569, 0.43529412],
         [0.89803922, 0.90980392, 1.        ],
         [0.48627451, 0.48235294, 0.39607843]],

        ...,

        [[0.19215686, 0.17254902, 0.19215686],
         [0.18039216, 0.17647059, 0.2       ],
         [0.18823529, 0.17647059, 0.20392157],
         ...,
         [0.25882353, 0.23137255, 0.22745098],
         [0.17647059, 0.15294118, 0.14509804],
         [0.18039216, 0.14901961, 0.13333333]],

        [[0.2       , 0.18039216, 0.19607843],
         [0.20784314, 0.18823529, 0.19215686],
         [0.21176471, 0.21176471, 0.20392157],
         ...,
         [0.15294118, 0.1372549 , 0.1254902 ],
         [0.16470588, 0.14509804, 0.14117647],
         [0.17254902, 0.1372549 , 0.11764706]],

        [[0.29411765, 0.31764706, 0.36078431],
         [0.3372549 , 0.35294118, 0.30980392],
         [0.35686275, 0.35686275, 0.34901961],
         ...,
         [0.18431373, 0.15294118, 0.12941176],
         [0.15686275, 0.13333333, 0.12941176],
         [0.16078431, 0.1372549 , 0.13333333]]]])

In [ ]:
#train test split - 75% train, 25% test?